.contact {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
        justify-items: center;
}

.first-map,
.second-map 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: relative;
    top: 5%;

}

.details-first-map,
.details-second-map 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }
