@import url('https://fonts.cdnfonts.com/css/orbiter-fbs-trial');

.contact {
box-sizing: border-box;
height: 100vh;
display: grid;
grid-template-columns: repeat(2, 50%);
align-items: center;
justify-items: center;
font-family: 'Orbiter FBS Trial', sans-serif;
}

.first-map,
.second-map 
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90%;
position: relative;
top: 5%;
}

.details-first-map,
.details-second-map 
{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-top: 15%;
}

@media (max-width: 1400px) {
.first-map,
    .second-map {
        width: 120%;
    }

    .details-first-map,
    .details-second-map {
        font-size: 18px;
    }

    .first-map,
    .second-map
    {
        width: 100%;
    }

}


@media (max-width: 768px) {
    .contact {
        padding: 10px;
        height: 200vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    .first-map,
    .second-map {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .contact {
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .first-map,
    .second-map {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .contact {
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .first-map,
    .second-map {
        width: 100%;
    }

    .details-first-map p,
        .details-second-map p,
                .details-first-map h5,
                .details-second-map h5,
                                .details-first-map h3,
                                .details-second-map h3
    
    {
        font-size: 12px ;
        width: 100%;
        height: auto;
    }



}