.contact {
box-sizing: border-box;
height: 100vh;
display: grid;
grid-template-columns: repeat(2, 50%);
align-items: center;
justify-items: center;
}

.first-map,
.second-map 
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90%;
position: relative;
top: 5%;

}

.details-first-map,
.details-second-map 
{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

/* Media queries for tablet and mobile responsiveness */
@media (max-width: 768px) {
    .contact {
        padding: 10px;
        /* Adjust padding for smaller screens */
        height: 150vh;
            /* Adjust padding for smaller screens */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    .first-map,
    .second-map {
        width: 70%;
        /* Use full width for tablet */
    }
}

/* Additional media query for smaller mobile screens if needed */
@media (max-width: 480px) {
    .contact {
        padding: 5px;
        height: 150vh;
        /* Adjust padding for smaller screens */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-map,
    .second-map {
        width: 50%;
        /* Use full width for smaller mobile screens */
    }
}