@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.footer-69,
.footer-69 * {
    box-sizing: border-box;
}

.footer-69 {
    width: 100vw;
    height: 20rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container {
    flex-direction: row;
    justify-content: center;
        justify-items: center;
        width: 100%;
        display: grid;
            grid-template-columns: repeat(3, 1fr);
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
        align-items: center;
    gap: 10%;
}

.logo-footer {
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    width: 15rem;
}
.call-to-action{

    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}