@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
.visual {
height: 80vh;
position: static;
}

.top-right-background {
background: linear-gradient(257.12deg,
#DAFFEF 0%,
#FCFFFD 100%);
opacity: 0.5;
width: 50%;
height: 100vh;
position: absolute;
left: 50%;
}

.image-right {
width: 30%;
height: 80%;
position: absolute;
left: 60%;
transform: rotate(2deg);
top: 10%;
z-index: 2;
}

.image-right2{
width: 30%;
height: 80%;
position: absolute;
left: 43%;
transform: rotate(-5deg);
top: 18%;
z-index: 0;

}

.image-right3 {
width: 22%;
height: 70%;
position: absolute;
left: 75%;
transform: rotate(10deg);
top: 20%;
z-index: 0;
border-radius: 150px;
}
.text-homepage {
width: 50%;
font: 400 60px 'Exo',
sans-serif;
position: absolute;
left: 5%;
top: 25%;
}


.span2 {
color: #ffffff;
font: 600 70px 'Reddit Sans Condensed',
sans-serif;
letter-spacing: 2px;
}


.subsection {
display: flex;
flex-direction: row;
gap: 3.5%;
justify-content: space-between;
align-items: center;
border-radius: 30px;
background: white;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
width: 55vw;
height: 20vh;
position: absolute;
left: 2%;
top: -3rem;
z-index: 20;
padding: 0.5%;
}



.subsection a {
text-decoration: none;
font-size: 20px;
color: black;
font-weight: 500;

}

.subsection a {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

._80-tooth-shine,
._80-tooth-shine *,
._80-cavity,
._80-cavity *,
._80-braces-rubber-bands,
._80-braces-rubber-bands *
{
box-sizing: border-box;
}

._80-tooth-shine,
._80-cavity
{
width: 80px;
height: 80px;
position: relative;
overflow: hidden;
}

.union {
border-radius: 0px;
position: absolute;
left: 8px;
top: 5px;
overflow: visible;
}

.group-109 {
position: absolute;
left: 7px;
top: 10px;
overflow: visible;
}

.group-110 {
position: absolute;
left: 51.11px;
top: 41px;
overflow: visible;
}

.union {
border-radius: 0px;
position: absolute;
left: 8px;
top: 5px;
overflow: visible;
}

.mask-group {
position: absolute;
left: 8px;
top: 5px;
overflow: visible;
}

._80-braces-rubber-bands {
width: 80px;
height: 80px;
position: relative;
overflow: hidden;
}

.rectangle-654 {
background: linear-gradient(92.31deg,
rgba(226, 230, 243, 1) 0%,
rgba(213, 218, 240, 1) 100%);
border-radius: 2px;
width: 10px;
height: 6px;
position: absolute;
left: 38px;
top: 29px;
transform-origin: 0 0;
transform: rotate(90deg) scale(1, 1);
}

.rectangle-655 {
background: linear-gradient(92.31deg,
rgba(226, 230, 243, 1) 0%,
rgba(213, 218, 240, 1) 100%);
border-radius: 2px;
width: 10px;
height: 6px;
position: absolute;
left: 51px;
top: 29px;
transform-origin: 0 0;
transform: rotate(90deg) scale(1, 1);
}

.group-107 {
position: absolute;
inset: 0;
}

.rectangle-657 {
border-radius: 0px;
position: absolute;
left: 39.17px;
top: 9px;
overflow: visible;
}

.rectangle-662 {
border-radius: 0px;
position: absolute;
left: 5.43px;
top: 9px;
overflow: visible;
}

.vector-541-stroke {
position: absolute;
left: 1.5px;
top: 34.5px;
overflow: visible;
}

.vector-541-stroke2 {
position: absolute;
left: 1.5px;
top: 34.5px;
overflow: visible;
}

.group-119 {
position: absolute;
left: 13.29px;
top: 35.99px;
overflow: visible;
}

.group-120 {
position: absolute;
left: 47.29px;
top: 35.99px;
overflow: visible;
}

/* Media queries for tablet and mobile */

@media (max-width: 1400px) {
.image-right,
.image-right2,
.image-right3

{
  height: auto;
}

.image-right {
  top: 5%;
  z-index: 1;
  height: auto;
}

.image-right2{
  top: 10%;
  height: auto;
}

.image-right3 {
  top: 15%;
  height: auto;
}

.text-homepage {
  width: 40%;
  font-size: 45px;
}

.subsection {
  width: 65%;
}

}

@media (max-width: 1100px) {

  .image-right,
  .image-right2,
  .image-right3 {
    height: auto;
  }

  .image-right {
    top: 15%;
  }

  .image-right2 {
    top: 20%;
  }

  .image-right3 {
    top: 30%;
  }

  .text-homepage {
    top: 30%;
    font-size: 40px;
  }

  .subsection {
    width: 64%;
  }

}

@media (max-width: 980px) {

  .image-right,
  .image-right2,
  .image-right3 {
    height: auto;
  }

  .image-right {
    top: 20%;
  }

  .image-right2 {
    top: 30%;
  }

  .image-right3 {
    top: 25%;
  }

  .text-homepage {
    width: 40%;
    font-size: 35px;
  }

  .subsection {
    width: 60%;
  }

  .subsection a {
    font-size: 18px;
  }

}

@media  (max-width: 768px) {
  .top-right-background {
    display: none;
  }

  .parallax-subsection{
    transform: none !important;
  }

  
  .image-right3{
    display: none;
  }

  .span2{
    font-size: 50px;
  }

  .image-right
   {
    height: auto;
    top: 20%;
    z-index: 0;
    left: 70%;
}

.image-right2 {
    height: auto;
    top: 25%;
      left: 55%;
}

  .text-homepage {
    top: 30%;
    font-size: 38px;
    width: 50%;
}
  .subsection{
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
 

  .image-right,
  .image-right2,
  .image-right3
  {
    display: none;
}
  .text-homepage {
    width: 90%;
    font-size: 40px;
    left: 5%;
    text-align: left;
  }

  .subsection {
    width: 95%;
    left: 2.5%;
  }

  .subsection a {
    font-size: 12px;
  }
}